body {
  background-color: #24252a;
  color: #ffffff;
  font-family: "Poppins";
}

.discord-add {
  background-color: #5ac0de;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 250px;
  height: 75px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 3px;
}

.discord-add:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.see {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 75px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 3px;
  text-decoration: none;
}

.see:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bg-light {
  background-color: #24252a !important;
  color: #ffffff !important;
}

.nav-link {
  color: #9b9b9c !important;
  /*color: #FFFFFF !important;*/
}

.nav-link:hover {
  color: #ffffff !important;
}

.navbar-toggler {
  background-color: #29348f !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  color: #ffffff;
}

.main {
  text-align: center;
  height: 100%;
  position: relative;
  margin-top: 100px;
}

.commands-main {
  text-align: center;
  height: 100%;
  position: relative;
  margin-top: 50px;
}

.second {
  text-align: center;
  height: 100%;
  position: relative;
  background-color: #29348f;
}

.header {
  width: auto;
  position: relative;
  height: 200px;
  text-align: center;
}

.header-second {
  width: auto;
  position: relative;
  height: 500px;
  text-align: center;
}

.features {
  width: 90%;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 18px;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.features img {
  width: 300px;
  height: auto;
}

.how-to {
  width: 90%;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 18px;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.how-to h3 {
  text-align: right;
}

.how-to img {
  width: 300px;
  height: auto;
}

.features p img {
  width: 25px;
  height: 25px;
}

.features h3 {
  text-align: right;
}

.commands-header {
  width: auto;
  position: relative;
  height: 100%;
  text-align: center;
}

.accordion {
  background-color: #0b110c;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 25px;
}

.active,
.accordion:hover {
  background-color: #29348f;
}

.panel {
  padding: 0 18px;
  background-color: #0b110c;
  max-height: 0;
  overflow: hidden;
  width: 90%;
  border: none;
  margin-left: 5%;
  border-radius: 3px;
  text-align: left;
  outline: none;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\25BC";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2";
}

.custom-shape-divider-bottom-1621257518 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621257518 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100%;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1621257518 .shape-fill {
  fill: #29348f;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  margin: auto;
  width: auto;
}

.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  margin-top: 10px;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
  clear: both;
}

a.footer-link {
  color: #e83e8c;
  text-decoration: none;
}

a.footer-link:link {
  color: #e83e8c;
  text-decoration: none;
}

a.footer-link:active {
  color: #e83e8c;
  text-decoration: none;
}

a.footer-link:visited {
  color: #e83e8c;
  text-decoration: none;
}

a.footer-link:hover {
  color: #e8c152;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  height: 70px;
  background: #24252a;
  line-height: 10px;
}

/* scroll down animation */

.container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* scroll down animation */

@media only screen and (max-width: 600px) {
  .buttons {
    margin-top: 80px;
  }

  .main {
    height: 400px;
    margin-top: 50px;
  }

  .how-to img {
    width: 100%;
  }

  .header h1 {
    font-size: 30px;
  }

  .header h3 {
    font-size: 20px;
  }

  .container {
    display: none;
  }

  .countup {
    width: 80%;
  }

  .features img {
    width: 100%;
  }
}
